body {
    background-color: #37474F;
    font-family: 'Oswald', sans-serif;
  }
h1 {
    font-family: 'Merienda', cursive;
}
.fs-4 {
    color: beige;
    font-family: 'Merienda', cursive;
}
